@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* src/index.css */
@import 'primeicons/primeicons.css';
@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.css';
@import 'primeflex/primeflex.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.pages{
    padding: 100px 20px 80px;
}